@charset "ISO-8859-1";

.location-info{
	border: black solid 1px;
	padding: 5px;
}

.locations{
	display: flex;
	justify-content: space-around;
	
}

.log{
	margin: auto;
	width: 95%;
	height: 150px;
	border: solid black 1px;
	overflow: scroll;
}