@charset "ISO-8859-1";

.input-row{
	display: flex;
	gap: 25px;
	justify-content: center;
}

.p1{
	width: 50%;
	text-align: right;
}

.p2{
	width: 50%;
	text-align: left;
}

.search{
	display: flex;	
}

.header{
	display: flex;
	gap: 15px;
}